
#fundo {
  background-image: url(IMAGENS/3667982.jpg);  /* Define a imagem de fundo para o elemento */
  background-repeat: no-repeat;  /* Define a repetição da imagem de fundo */
  background-size: cover;   /* Define o tamanho da imagem de fundo para cobrir todo o elemento */
  justify-content: center;   /* Define a justificação do conteúdo dentro do elemento */
  filter: blur(5px);   /* Aplica um efeito de desfoque à imagem de fundo */
  position: absolute;   /* Define a posição do objeto ONDE VC QUISER!!!! */
  top: 50%;   /* Define a posição do elemento no centro da página */
  left: 50%;
  transform: translate(-50%, -50%);   /* Transforma a posição do elemento para que ele fique no centro da página */
  width: 100%;   /* Define a largura e altura do elemento para que ele ocupe todo o espaço disponível */
  height: 100%;
  z-index: -1;   /* Define a ordem de empilhamento do elemento para que ele fique atrás do conteúdo */
}
#escrita h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
     text-shadow: 2px 2px 11px rgb(0, 0, 0);
  }
#escrita p{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    text-shadow: 2px 2px 11px rgb(0, 0, 0);
     
}
#botoes{
  text-align: center;
  border: radius 50px;
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: pink;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 11px rgb(0, 0, 0);
}
#trocarjanela{
  text-align: center;
  height: 100px;
  border: radius 50px;  
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 11px rgb(0, 0, 0);
}
#resultado{
  text-align: center;
  border: radius 50px;
  height: 35px;
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 11px rgb(0, 0, 0);
}
#link{
  display: none;
  color: pink
}